body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, #root > div {
  height: 100%;
}

.panels-root {
  height: calc(100% - 64px);
}

.panel {
  width: 50%;
  padding: 0px 5px;
  margin: 12px;
  height: 100%;
}

.panel-row-1 {
  height: 300px;
  display: flex;
}

.panel-row-2 {
  height: calc(100% - 300px);
  display: flex;
}

h1,h2,h3,h4,h5,h6 {
  font-family: sans-serif;
  font-weight: 500;
  margin: 6px 0px;
}

h6 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

.flex {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.active, .inactive {
  font-weight: bold;
}
.inactive {
  color: grey;
}

.toggle-switch {
  display: flex;
  user-select: none;
}
.toggle-switch > span {
  margin-right: 8px;
}

.control-panel {
  background-image: url(labjack.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 50vw;
  height: 35.5vw;
}