
:root {
  --top-bar-height: 54px;
  --top-bar-color: rgba(18, 43, 81);
  --background-color: rgba(18, 43, 81, 0.1);
  background-color: var(--background-color);
}

:root, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, #root > div {
  height: 100%;
}

.panels-root {
  position: absolute;
  top: var(--top-bar-height);
  height: calc(100% - 64px);
}

.panel {
  width: 50%;
  padding: 0px 5px;
  margin: 12px;
  height: 100%;
}

.panel-row-1 {
  height: 300px;
  display: flex;
}

.panel-row-2 {
  height: calc(100% - 300px);
  display: flex;
}

h1,h2,h3,h4,h5,h6 {
  font-family: sans-serif;
  font-weight: 500;
  margin: 6px 0px;
}

h1 { font-size: 1.6rem; }
h2 { font-size: 1.2rem; }

.flex {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.active, .inactive {
  font-weight: bold;
}
.inactive {
  color: grey;
}

.frame {
  padding: 0.5rem 1rem;
}


.control-panel {
  background-image: url(labjack.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 800px;
  height: 557px;
}

.panel.safety {
  width: 600px;
}

.panel.control {
  width: 800px;
}

.panel.graphs {
  width: calc(100% - 850px);
  height: 640px;
}

.control-panel .MuiSwitch-root {
  transform:translate(-11px, -11px);
  z-index: 10;
}

.panel.safety .safety-card {
  margin: 1rem;
}

.MuiTableCell-root {
  padding: 8px 12px !important;
}

th {
  font-weight: bold !important;
}

.alert {
  position: fixed;
  bottom: 10px;
  left: 1vw;
  width: 96vw;
  z-index: 99999999999999999999;
}

.control-panel .MuiSwitch-track {
  width: 36px;
}

input[type='file'] {
  color: transparent;
}

.control-label {
  position: relative;
  display: block;
  transform: translate(-10px, -34px) !important;
}
.control-label.disabled {
  cursor:help;
}

.jump-to-present {
  position: relative;
  top: -50px;
  right: 10px;
  opacity: 0;
  z-index: -10;
}
.jump-to-present.active {
  opacity: 1;
  z-index: 0;
}

.top-bar {
  width: 100%;
  height: var(--top-bar-height);
  display: flex;
  align-items: left;
  background-color: var(--top-bar-color);
  color: white;
  padding: 0 10px;
  gap: 6px;
  margin: 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.top-bar h1 {
  height: var(--top-bar-height);
  margin: 0;
  padding: 0;
  line-height: var(--top-bar-height);
}

